$gap: 20px;

html,
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
        Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h2 {
    font-size: 20px;
    margin-bottom: $gap;
}

.app {
    padding: $gap;
}

.json {
    a {
        display: inline-block;
        margin-right: $gap;
    }
}

section {
    margin-bottom: $gap;
}

.books {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    grid-gap: $gap;

    .book {
        height: 100%;
        width: 100%;
        position: relative;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 9px 10px -10px rgba(0, 0, 0, 0.50), -30px 25px 65px -10px rgba(0, 0, 0, 0.30);
        transition: box-shadow 0.3s ease;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .title,
        .date,
        .score {
            display: none;
        }

        &:before {
            //This is setting the height proportionally.
            padding-top: 150%;
        }

        &:hover,
        &:active {
            box-shadow: 0 21px 30px -10px rgba(0, 0, 0, 0.50), -30px 25px 65px -10px rgba(0, 0, 0, 0.30);
        }
    }
}